/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #020202; /* Main background color */
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #FCEA4A; /* Header background color */
    color: #FCEA4A; /* Text color for header */
    display: flex;
    justify-content: space-between; /* Logo on the left, navigation on the right */
    align-items: center;
    padding: 20px 40px; /* Adjust padding as needed */
}

.header-logo img {
    max-width: 100px; /* Reduce the logo image size as needed */
}

.header-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-navigation ul li {
    display: inline;
    margin-right: 20px;
}

.header-navigation ul li a {
    color: #020202;
    text-decoration: none;
}

/* Hero section styles */
#hero {
    background-color: black; /* Hero section background color */
    padding: 40px 0;
    text-align: center;
}

#hero img {
    max-width: 190px; /* Set the maximum width of the image */
    max-height: 300px; /* Set the maximum height of the image */
    height: auto;
    border-radius: 0%;
    margin-bottom: 20px; /* Add margin for spacing */
}

/* Set text color in the hero section to white */
#hero h1,
#hero p,
#hero h2 {
    color: white;
}

/* About me section styles */
.hero-details {
    text-align: left;
}

.hero-details h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Education section styles */
#education ul {
    list-style-type: square;
    padding-left: 20px;
    margin-top: 20px;
    color: white; /* Set text color to white */
}

/* Skills section styles */
#skills ul li {
    list-style-type: square;
    padding-left: 20px;
    margin-top: 20px;
    color: white; /* Set text color to white */
}

/* Contact section styles */
#contact {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

#contact h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Set background color for signup form boxes to gray */
#signup input[type="text"],
#signup input[type="email"],
#signup input[type="tel"],
#signup textarea {
    background-color: #ccc;
    color: black; /* Set text color to black */
}

button[type="submit"] {
    background-color: #007BFF;
    color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
